version: '3.8'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.0
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  logstash:
    image: docker.elastic.co/logstash/logstash:8.15.0
    container_name: logstash
    volumes:
      - ./logstash.conf:/usr/share/logstash/pipeline/logstash.conf:ro
      - ./logs:/logs
      - cowrie_logs:/cowrie/var/log/cowrie
    depends_on:
      - elasticsearch

  cowrie:
    image: cowrie/cowrie
    container_name: cowrie
    ports:
      - "2223:2222"      # Cowrie SSH exposed on 2223
    volumes:
      - cowrie_logs:/cowrie/var/log/cowrie
      - cowrie_data:/cowrie/var/lib/cowrie

volumes:
  esdata:
  cowrie_logs:
  cowrie_data:
