version: '3.7'

services:
  # Service du honeypot SSH/Telnet (Cowrie)
  cowrie:
    image: cowrie/cowrie
    container_name: cowrie
    ports:
      - "2223:2222" # SSH
    volumes:
      - cowrie_logs:/cowrie/var/log/cowrie/
      - cowrie_data:/cowrie/var/lib/cowrie/
    restart: always

  # NOUVEAU SERVICE: Honeypot E-commerce (Flask)
  ecom_honeypot:
    # 'build: ./app' dit à Docker de chercher un Dockerfile dans le dossier 'app'
    build: ./app
    container_name: ecom_honeypot
    ports:
      # Mappe le port 80 (HTTP standard) au port 5000 de votre app Flask
      - "80:5000"
    volumes:
      # Monte un volume pour les données persistantes (DB, logs, uploads)
      # à l'intérieur du conteneur
      - ecom_data:/app/data
    restart: always
    # Nécessaire pour permettre à votre app.py d'appliquer son propre filtre seccomp
    security_opt:
      - seccomp:unconfined

# Définition des volumes de stockage
volumes:
  cowrie_logs:
  cowrie_data:
  # NOUVEAU VOLUME: pour les données de l'e-commerce
  ecom_data:
